body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(image/ghibli\ \(resize\).png);
    background-attachment: fixed;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background-color: #12026a;
     opacity: 0.9;
    color: #fff;
    padding-top: 20px;
    min-height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul {
    padding: 0;
    list-style: none;
}
header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding {
    float: left;
}
header #branding h1 {
    margin: 0;
}
header nav {
    float: right;
    margin-top: 10px;
}

header nav ul li a:hover 
{
    color: rgb(211, 18, 182);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}
table, tr, td, th
{
    
    border-collapse:collapse;
    width: 50%;
    margin: 20px auto;
    text-align: center;
    
}

td
{
    width: 60%;
    text-align: center;

}
th,td
{
    padding: 10px;
}
th
{
    color: white;
    background-color: #12026a;
}
.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.image-container img:hover {
    transform: scale(1.05);
}
.image-container img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}


.hobbies, .passions {
text-align: center;
margin-top: 40px;
}

.hobbies .project, .passions .passion {
display: inline-block;
margin: 20px;
width: calc(33% - 40px);
box-sizing: border-box;
transition: transform 0.3s;
border-radius: 10px;
overflow: hidden;
color: black;
}

.hobbies .project:hover, .passions .passion:hover{
 transform: scale(1.05);
}

.hobbies img, .passions img 
{
width: 250px;
height: auto;
border-radius: 10px;
}
h3 {
    font-size: 22px;
    margin: 10px 0;
    color: black;
    text-align: center;
}

footer {
     background: #12026a;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    margin-top: 30px;
}